/* Universal Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Geist, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold; 
}

a {
    text-decoration: underline;
    
}

a:hover {
    text-decoration: none;
    
}

a:visited {
    color: purple;
}

  header, footer, article, section, nav {
    padding: 1em;
  }


/* Flex Layout */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }

.col-1 {
    background-color: hsl(0, 0, 100%);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(243, 244, 246));
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
    justify-content: space-between;
}

/* Mobile Layout*/
@media only screen and (max-width: 768px) and (orientation: portrait) {
    body {
        flex-direction: column;
    }
    .col-1 {
        flex: 1;
        max-height: fit-content;
    }
    .col-2 {
        flex: 1;
    }


    #navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    footer {
        border-top: 2px solid black;
    }

}

/* Header */


/* Navigation */
#navigation {
    position: sticky;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigation ul {
    list-style-type: none;
    max-width: fit-content
}

#navigation li {
    margin: .75em;
    text-align: center;
}

#navigation a {
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 15px;
    padding: 1em;
    display: block;
    width: 100%;
    font-weight: bold;
}

#navigation a {
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 15px;
    padding: .75em;
    display: block;
    width: 100%;
}

#navigation a:hover {
    background-color: darkgray;
    color: black;
}

#navigation a:active {
    background-color: black;
    color: white;
}

#navigation .activeURL {
    background-color: lightgray;
    color: white;
    border: 2px solid darkgray;
}

/* Main Content */
#intro {
    position: relative;
    z-index: 1; 
    border-bottom: 2px solid black;
}

#intro::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/ethan.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.5; /* Adjust the opacity value as needed */
    z-index: -1;
}

section p, ul {
    padding: 1rem;
    line-height: 2rem;
}

section li {
    margin-left: 1rem;
}

/* Footer */
footer {
    background-color: #fcfcfc;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(243, 244, 246));
    position: relative;
    bottom: 0;
    width: 100%;
}

#bottomnav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#bottomnav li i:hover{
    color: darkgray;
    cursor: pointer;
}

#footerinfo {
    font-size: .75em;
    text-align: center;
    margin-top: 1em;
}

#bottomnav li a {
    color: inherit
}
